{
    "paths": {
        "VOC2007": "~/Dropbox/work/vision_data/VOC2007",
        "data": "~/work/vislab-dev/data",
        "shared_data": "~/work/vislab-dev/data/shared",
        "static_data": "~/work/vislab-dev/data/static"
    },

    "behanceAPIkey": "PUT_API_KEY_HERE"

}
