<!doctype html>
<html>
<head>
    <title>VisLab</title>
    <link href="/static/main.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css" />
</head>

<body>
<div class="container" style="width: 960px">
    <div class="center">
        <h1>VisLab</h1>
    </div>
    <div class="grid">
        <div class="center unit one-of-three">
            <h2>AVA</h2>
            <div>
                <a href="/ava/data">
                    <i class="icon-sitemap alpha"></i>
                    <h2>Data explorer</h2>
                </a>
            </div>
            <div>
                <a href="/ava/results">
                    <i class="icon-signal alpha"></i>
                    <h2>Results dashboard</h2>
                </a>
            </div>
        </div>

        <div class="center unit one-of-three">
            <h2>Flickr</h2>
            <div>
                <a href="/flickr/data">
                    <i class="icon-sitemap alpha"></i>
                    <h2>Data explorer</h2>
                </a>
            </div>
            <div>
                <a href="/flickr/results">
                    <i class="icon-signal alpha"></i>
                    <h2>Results dashboard</h2>
                </a>
            </div>
        </div>

        <div class="center unit one-of-three">
            <h2>WikiPaintings</h2>
            <div>
                <a href="/wikipaintings/data">
                    <i class="icon-sitemap alpha"></i>
                    <h2>Data explorer</h2>
                </a>
            </div>
            <div>
                <a href="/wikipaintings/results">
                    <i class="icon-signal alpha"></i>
                    <h2>Results dashboard</h2>
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
