/*
  Some stuff from CSS Toast.
*/
.grid {
  margin-left: -3%;
  max-width: 105%;
}

.unit {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
  margin-left: 3%;
  margin-right: -.25em;
  /* Clearfix */
  overflow: hidden;
  *overflow: visible;
}

.span-grid {
  width: 97%;
}

.one-of-two { width: 47%; }
.one-of-three { width: 30.36%; }
.two-of-three { width: 63.666666666%; }
.one-of-four { width: 22.05%; }
.three-of-four { width: 72%; }
.one-of-five { width: 17.07%; }
.two-of-five { width: 37%; }
.three-of-five { width: 57%; }
.four-of-five { width: 77%; }

/*
  Rest of the stuff.
*/

.container {
  max-width: 1360px;
  margin: 0 auto;
}

.center {
  text-align: center;
}

h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

#data-scatterplot {
  margin: auto;
  width: 620px;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  font-size: 12px;
  line-height: 1.5em;
  color: #333333;
}

h1, .alpha {
  font-size: 2em;
  line-height: 1.5em;
  margin: 0 0 .75em 0;
  font-variant: small-caps;
}

h2, .beta {
    font-size:  1.5em; /* equiv 24px */
    line-height:  1em;
    margin: 0 0  1em 0;
}

h3, .gamma {
  font-weight: bold;
}

ol, ul {
  list-style-type: disc;
  padding-left: 2em;
}

a img {
  border: none;
}

a {
  color: #333333;
  text-decoration: none;
  -webkit-transition: color .3s ease-in;
  transition: color .3s ease-in;
}
a:not(:hover) {
  color: #999999;
}

td, th {
  text-align: center;
  padding: 0.5em;
}

th {
  font-weight: bold;
}

div {
  vertical-align: top;
}

#images {
  width: 1360px;
}

div.result {
  display: inline-block;
  margin: 5px;
  font-size: .8em;
}
div.green {
  border: 3px solid yellowgreen;
}
div.red {
  border: 3px solid red;
}
