<!doctype html>
<html>
<head>
    <title>VisLab: {{page_type}}</title>

    <link href="/static/main.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/static/font-awesome-4.0.3/css/font-awesome.min.css" />
</head>

<body>
<div class="container center">
<h1>
    VisLab
</h1>

<div class="grid">
    <div class="unit one-of-two">
        <h2><a href="/data">Data Explorer</a></h2>
    </div>
    <div class="unit one-of-two">
        <h2><a href="/results">Results Explorer</a></h2>
    </div>
</div>

</body>
</html>
